nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
}
.nav-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
