@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* flex */

.flex { display: flex; }

.jcc { justify-content: center; }
.jcsb { justify-content: space-between; }
.jcsa { justify-content: space-around; }

.ais { align-items: start; }
.aic { align-items: center; }
.aie { align-items: end; }

.gap-5 { gap: 5px; }
.gap-10 { gap: 10px; }
.gap-15 { gap: 15px; }
.gap-20 { gap: 20px; }
.gap-25 { gap: 25px; }
.gap-30 { gap: 30px; }
.gap-35 { gap: 35px; }
.gap-40 { gap: 40px; }
.gap-45 { gap: 45px; }
.gap-50 { gap: 50px; }
.gap-55 { gap: 55px; }
.gap-60 { gap: 60px; }
.gap-65 { gap: 65px; }
.gap-70 { gap: 70px; }
.gap-75 { gap: 75px; }
.gap-80 { gap: 80px; }
.gap-85 { gap: 85px; }
.gap-90 { gap: 90px; }
.gap-95 { gap: 95px; }
.gap-100 { gap: 100px; }

/* sizes */

.w-25 { width: 25%; }
.w-50 { width: 50%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }
.h-25 { height: 25%; }
.h-50 { height: 50%; }
.h-75 { height: 75%; }
.h-100 { height: 100%; }

/* moves */

.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }
.mt-50 { margin-top: 50px; }
.ml-10 { margin-left: 10px; }
.ml-20 { margin-left: 20px; }
.ml-30 { margin-left: 30px; }
.ml-40 { margin-left: 40px; }
.mr-50 { margin-left: 50px; }
.mr-10 { margin-right: 10px; }
.mr-20 { margin-right: 20px; }
.mr-30 { margin-right: 30px; }
.mr-40 { margin-right: 40px; }
.mr-50 { margin-right: 50px; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }

/* text */

.cyber { font-family: "Chakra Petch", sans-serif; }

.text-12 { font-size: 12px; }
.text-16 { font-size: 16px; }
.text-20 { font-size: 20px; }
.text-24 { font-size: 24px; }
.text-28 { font-size: 28px; }
.text-32 { font-size: 32px; }
.text-36 { font-size: 36px; }
.text-40 { font-size: 40px; }
.text-44 { font-size: 44px; }
.text-48 { font-size: 48px; }
.text-52 { font-size: 52px; }
.text-56 { font-size: 56px; }
.text-60 { font-size: 60px; }
.text-64 { font-size: 64px; }
.text-68 { font-size: 68px; }
.text-72 { font-size: 72px; }
.text-76 { font-size: 76px; }
.text-80 { font-size: 80px; }
.text-84 { font-size: 84px; }
.text-88 { font-size: 88px; }
.text-92 { font-size: 92px; }
.text-96 { font-size: 96px; }
.text-100 { font-size: 100px; }

.textw-100 { font-weight: 100; }
.textw-200 { font-weight: 200; }
.textw-300 { font-weight: 300; }
.textw-400 { font-weight: 400; }
.textw-500 { font-weight: 500; }
.textw-600 { font-weight: 600; }
.textw-700 { font-weight: 700; }
.textw-800 { font-weight: 800; }
.textw-900 { font-weight: 900; }

.textc-cyber-1 { color: #d1f9f8; }
.textc-cyber-2 { color: #9af3ff; }
.textc-cyber-3 { color: #69afbb; }
.textc-cyber-4 { color: #20576b; }
.textc-cyber-5 { color: #103748; }
.textn-cyber-1 { text-shadow: 0 0 10px #d1f9f8; }
.textn-cyber-2 { text-shadow: 0 0 10px #9af3ff; }
.textn-cyber-3 { text-shadow: 0 0 10px #69afbb; }
.textn-cyber-4 { text-shadow: 0 0 10px #20576b; }
.textn-cyber-5 { text-shadow: 0 0 10px #103748; }

/* block */

.cont-10 { padding: 30px 10px 10px 30px; }
.cont-20 { padding: 30px 20px 20px 30px; }
.cont-30 { padding: 30px 30px 30px 30px; }
.cont-40 { padding: 30px 40px 40px 30px; }
.cont-50 { padding: 30px 50px 50px 30px; }
.cont-60 { padding: 30px 60px 60px 30px; }
.cont-70 { padding: 30px 70px 70px 30px; }
.cont-80 { padding: 30px 80px 80px 30px; }
.cont-90 { padding: 30px 90px 90px 30px; }
.cont-100 { padding: 30px 100px 100px 30px; }
.cont-110 { padding: 30px 110px 110px 30px; }
.cont-120 { padding: 30px 120px 120px 30px; }
.cont-130 { padding: 30px 130px 130px 30px; }
.cont-140 { padding: 30px 140px 140px 30px; }
.cont-150 { padding: 30px 150px 150px 30px; }
.cont-160 { padding: 30px 160px 160px 30px; }
.cont-170 { padding: 30px 170px 170px 30px; }
.cont-180 { padding: 30px 180px 180px 30px; }
.cont-190 { padding: 30px 190px 190px 30px; }
.cont-200 { padding: 30px 200px 200px 30px; }

.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-25 { padding: 25px; }
.p-30 { padding: 30px; }
.p-35 { padding: 35px; }
.p-40 { padding: 40px; }
.p-45 { padding: 45px; }
.p-50 { padding: 50px; }
.p-55 { padding: 55px; }
.p-60 { padding: 60px; }
.p-65 { padding: 65px; }
.p-70 { padding: 70px; }
.p-75 { padding: 75px; }
.p-80 { padding: 80px; }
.p-85 { padding: 85px; }
.p-90 { padding: 90px; }
.p-95 { padding: 95px; }
.p-100 { padding: 100px; }

.border-cyber-1 { border: 1px solid #d1f9f8; }
.border-cyber-2 { border: 1px solid #9af3ff; }
.border-cyber-3 { border: 1px solid #69afbb; }
.border-cyber-4 { border: 1px solid #20576b; }
.border-cyber-5 { border: 1px solid #103748; }

.border-1 { border: 1px solid black; }
.border-2 { border: 2px solid black; }
.border-3 { border: 3px solid black; }
.border-4 { border: 4px solid black; }
.border-5 { border: 5px solid black; }
.border-6 { border: 6px solid black; }
.border-7 { border: 7px solid black; }
.border-8 { border: 8px solid black; }
.border-9 { border: 9px solid black; }
.border-10 { border: 10px solid black; }
.border-11 { border: 11px solid black; }
.border-12 { border: 12px solid black; }
.border-13 { border: 13px solid black; }
.border-14 { border: 14px solid black; }
.border-15 { border: 15px solid black; }

.border-r-4 { border-radius: 4px; }
.border-r-8 { border-radius: 8px; }
.border-r-12 { border-radius: 12px; }
.border-r-16 { border-radius: 16px; }
.border-r-20 { border-radius: 20px; }
.border-r-24 { border-radius: 24px; }
.border-r-28 { border-radius: 28px; }
.border-r-32 { border-radius: 32px; }
.border-r-36 { border-radius: 36px; }
.border-r-40 { border-radius: 40px; }
.border-r-44 { border-radius: 44px; }
.border-r-48 { border-radius: 48px; }
.border-r-52 { border-radius: 52px; }
.border-r-56 { border-radius: 56px; }
.border-r-60 { border-radius: 60px; }
.border-r-64 { border-radius: 64px; }
.border-r-68 { border-radius: 68px; }
.border-r-72 { border-radius: 72px; }
.border-r-76 { border-radius: 76px; }
.border-r-80 { border-radius: 80px; }
.border-r-84 { border-radius: 84px; }
.border-r-88 { border-radius: 88px; }
.border-r-92 { border-radius: 92px; }
.border-r-96 { border-radius: 96px; }
.border-r-100 { border-radius: 100px; }
.border-round { border-radius: 50%; }

/* elements / objects */
